# Large data files
data_norm.tsv
BRCA_exp_matrix.tsv
clinical_info_TCGA-BRCA.tsv
nationwidechildrens.org_clinical_patient_brca.txt
p_values.tsv
last_image.RData

# R temporary files
.Rhistory

# Activity statement
0JCP001104_UA5_AA1.pdf